include LICENSE
include README.md
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat

include versioneer.py
include lightcurve_fitting/_version.py

include lightcurve_fitting/filters/*
include lightcurve_fitting/example/SN2016bkv.table
include lightcurve_fitting/models/sifto.dat
include lightcurve_fitting/serif.mplstyle